import processing.video.*;

Movie intromovie;

int x1 = 840/2-75;
int y1 = 1190/2-300-75;
int x2 = 840/2+250-75;
int y2 = 1190/2-100-75;
int x3 = 840/2-250-75;
int y3 = 1190/2-100-75;
int x4 = 840/2+200-75;
int y4 = 1190/2+250-75;
int x5 = 840/2-200-75;
int y5 = 1190/2+250-75;
int xC = 840/2-63;
int yC = 1190/2-63;
int cS1 = 150;
int cS2 = 125;
int iconS = 75;
boolean XIV = false;
boolean b1d = false;
boolean b2d = false;
boolean b3d = false;
boolean b4d = false;
boolean b5d = false;
boolean intro = true;


Button[] buttons = new Button[7];

Button button1;
Button button2;
Button button3;
Button button4;
Button button5;
Button buttonC;
Button buttonR;

void setup() {
  size(841, 1189);
  noLoop();
  intromovie = new Movie(this, "intro.mov");
  intromovie.loop();

  button1 = new Button(x1, y1, cS1, cS1);
  button2 = new Button(x2, y2, cS1, cS1);
  button3 = new Button(x3, y3, cS1, cS1);
  button4 = new Button(x4, y4, cS1, cS1);
  button5 = new Button(x5, y5, cS1, cS1);
  buttonC = new Button(xC, yC, cS2, cS2);
  buttonR = new Button(0, 0, 841, 1189);

  buttons[0] = button1;
  buttons[1] = button2;
  buttons[2] = button3;
  buttons[3] = button4;
  buttons[4] = button5;
  buttons[5] = buttonC;
  buttons[6] = buttonR;
}
void draw() {

  int timer = minute();
  int last = 0;
  PImage bG = loadImage("Background.jpg");
  bG.resize(841, 1189);
  image(bG, 0, 0);
  button1.display();
  button2.display();
  button3.display();
  button4.display();
  button5.display();
  buttonC.display(); // if statements with bools to make counter plus appear
  buttonR.display();

  PImage bGC = loadImage("ButtonBG.png");
  image(bGC, x1, y1);
  image(bGC, x2, y2);
  image(bGC, x3, y3);
  image(bGC, x4, y4);
  image(bGC, x5, y5);

  PImage pc = loadImage("pc.png");
  pc.resize(iconS, iconS);
  image(pc, x1+(iconS/2), y1+(iconS/2+15));
  PImage peeps = loadImage("peeps.png");
  peeps.resize(iconS, iconS);
  image(peeps, x2+(iconS/2), y2+(iconS/2));
  PImage ani = loadImage("ani.png");
  ani.resize(iconS, iconS);
  image(ani, x3+(iconS/2), y3+(iconS/2));
  PImage cam = loadImage("cam.png");
  cam.resize(iconS, iconS);
  image(cam, x4+(iconS/2), y4+(iconS/2));
  PImage peeeps = loadImage("peeeps.png");
  peeeps.resize(iconS, iconS);
  image(peeeps, x5+(iconS/2), y5+(iconS/2));

  timer = minute()-last;
  if (minute() > timer+1) {
    timer = millis();
    intro = true;
  }
  /* if (XIV == true) {
   PImage KingXIV = loadImage("CyberKingXIV.png");
   KingXIV.resize(841, 1189);
   image(KingXIV, 0, 0);
   } 
   if (mouseX>0 && mouseX <0+841 && mouseY>0 && mouseY <0+1189) {
   XIV = false;
   }*/
  if (intro == true) {
    if (intromovie.available()) {
      intromovie.read();
    }
    image(intromovie, 0, 0);
  }
  if (b1d == true && b2d == true && b3d == true && b4d == true && b5d == true) {
    PImage bC = loadImage("ButtonC.png");
    image(bC, xC, yC);
  }
}

void mousePressed() {
  for (int i=0; i<7; i++)
  {
    if (b1d == true && b2d == true && b3d == true && b4d == true && b5d == true) {
      if (buttonC.click() ) {
        XIV = true;
        redraw();
        if (XIV == true) {
          PImage KingXIV = loadImage("CyberKingXIV.png");
          KingXIV.resize(841, 1189);
          image(KingXIV, 0, 0);
        } 
        if (mouseX>0 && mouseX <0+841 && mouseY>0 && mouseY <0+1189) {
          XIV = false;
        }
      }
    }
    if (button1.click() ) {
      b1d = true;
      redraw();
      println("1");
    }
    if (button2.click() ) {
      b2d = true;
      redraw();
      println("2");
    }
    if (button3.click() ) {
      b3d = true;
      redraw();
      println("3");
    }
    if (button4.click() ) {
      b4d = true;
      redraw();
      println("4");
    }
    if (button5.click() ) {
      b5d = true;
      redraw();
      println("5");
    }

    if (buttons[i].click()) {
      buttons[i].toggle();
      redraw();
      return;
    }
    if (buttonR.click()) {
      XIV = false;
      intro = false;
      if (XIV == true) {
        b1d = false;
        b2d = false;
        b3d = false;
        b4d = false;
        b5d = false;
      }
    }
  }
}

class Button {
  int thisX, thisY, thisH, thisW;
  boolean state;

  Button(int x, int y, int h, int w) {
    thisX = x;
    thisY = y;
    thisH = h;
    thisW = w;

    state = false;
  }

  boolean toggle() {
    return state = !state;
  }

  boolean click() {
    return mouseX > thisX & mouseX < thisX+thisH 
      & mouseY > thisY & mouseY < thisY+thisW;
  }

  void display() {
    //fill(state? 0:255);
    noStroke();
    fill(0, 0, 0, 0);
    rect(thisX, thisY, thisW, thisH);
  }
}
